
<%-layout("layouts/boilerplate")%>
<body >
   
             <h1 class="font-medium  text-[30px] pl-3 [@media(min-width:320px)_and_(max-width:767px)]:pl-2 pt-3  ">Listing Details:</h1>
        <div class=" flex flex-col justify-center  pl-20 [@media(min-width:320px)_and_(max-width:767px)]:pl-2 py-4 gap-y-2 font-medium" >
              <p class="text-[20px]"><%=listing.title%></p>
               
              <img  class="w-[400px] h-[275px] rounded-lg hover:bg-transparent hover:opacity-50 hover:transition hover:duration-100" src="<%=listing.image.url%>" alt="">
                 <p>Owned _by : <%=listing.owner.username%></p>
                <p><%=listing.description%></p>
              
                <p> &#8377;<%=listing.price.toLocaleString("en-IN")%></p>
                <p><%=listing.location%></p>
                <p><%=listing.country%></p>
        </div>
        <br/>
        <%if(currUser && currUser._id.equals(listing.owner._id)){%>
        <div  class="flex gap-x-4 pl-20 [@media(min-width:320px)_and_(max-width:767px)]:pl-2 pb-4">
              <a  class="bg-red-600 text-white px-4 py-2 rounded inline-block" href="/listings/<%=listing._id%>/edit">  Edit</a>
         <form action="/listings/<%=listing._id%>?_method=DELETE"  method="POST">
            <button class="bg-black text-white px-4 py-2 rounded ">  Delete</button>
         </form>
        </div>
        <%}%>
            <hr>
        <div class="flex flex-col justify-center pl-20 [@media(min-width:320px)_and_(max-width:767px)]:pl-2 py-4  font-medium w-full">
            <%if(currUser){%>
      <h4 class="m-2">Leave a Review</h4>
      <form action="/listings/<%=listing._id%>/reviews" method="POST">
            <div>
                    <label for="rating">Rating</label>
                       <fieldset class="starability-slot">
 
  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="rating" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="rating" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="rating" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="rating" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="rating" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
            </div>
            
         
            <div>
                  <label for="comment">Comments</label><br>
                  <textarea class="border w-[75%] rounded-lg  " name="comments" id="comment" rows="10" cols="30" required></textarea>
            </div>
            <button class="bg-red-600 text-white px-4 py-2 my-2 rounded inline-block" type="submit">Submit</button>
      </form>
             <%}%>
      <hr>

      <h4 class="m-4">All Reviews</h4>
      <div class="flex flex-wrap gap-4 ">
           <%for(let review of listing.reviews){%>
            <div class=" flex flex-col justify-center  pl-10 [@media(min-width:320px)_and_(max-width:767px)]:pl-2 py-4 gap-y-2 font-medium border w-[45%] rounded-lg [@media(min-width:320px)_and_(max-width:767px)]:w-[100%] [@media(min-width:320px)_and_(max-width:767px)]:pl-2" >
                   <p>@<%=review.author.username%></p>
                  <p><%=review.rating%> stars</p>
                   <p class="starability-result" data-rating="3"></p>
                  <p><%=review.comment%></p>
                  
                  <form action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                    <button class="bg-black text-white px-4 py-2 rounded ">Delete</button>
                  </form>
              
             </div> 
       
      <%}%> 
      </div>
      
         
        </div>
        
        </script>
      

</body>
</html>